.header-nav {
  background-color: #f5f5dc;
  color: #5c4033;
  padding: 10px;
  text-align: left;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

a {
  color: #5c4033 !important;
  font-weight: bold !important;
}

.nav-links {
  display: flex;
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #f5f5dc;
  color: #5c4033;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: -5 !important;
  width: 100%;
}
.bodynotfound {
    margin: 0px;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c4033;
}
.cat-logo {
  width: 13rem;
  
}
.wtf-cat {
  background-size: cover;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  margin: auto;
}
.notfoundtext {
  text-align: center;
}
.card {
  margin: 2rem 0;
}

.cat-index-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card-button  {
  background-color: #e0dddc !important;
}
