header {
 
  background-color: #f5f5dc;
  color: #5c4033;
  padding: 10px;
  text-align: center;
 
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}
footer {
  background-color: #f5f5dc;
  color: #5c4033;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.bodynotfound{
    margin: 0px;
    height: 500px;
    width: 500px;
    border: 1px solid black;
    font-size: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5c4033;
}
.cat-logo {
  width: 13rem;
  
}


